@font-face {
  font-family: "iconfont"; /* Project id 4452121 */
  src: url('iconfont.woff2?t=1727155908137') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghutouxiang:before {
  content: "\e601";
}

.icon-wenhao:before {
  content: "\e65d";
}

.icon-daoru:before {
  content: "\e6df";
}

.icon-tishi:before {
  content: "\fc87";
}

.icon-bijiao:before {
  content: "\e696";
}

.icon-shujutongji:before {
  content: "\e662";
}

.icon-wiki:before {
  content: "\e716";
}

.icon-dianziyouxiang:before {
  content: "\e600";
}

.icon-tuandui:before {
  content: "\e62c";
}

.icon-git-repository-line:before {
  content: "\e698";
}

.icon-e-date-build:before {
  content: "\e66a";
}

.icon-business-icon-vs:before {
  content: "\e824";
}

.icon-type:before {
  content: "\eaa3";
}

.icon-mimabukejian:before {
  content: "\e624";
}

