html,
body {
  width: 100%;
  height: 100%;
  overflow: overlay;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

a {
  text-decoration: none;
}

input[type='password']::-ms-reveal {
  display: none;
}
