server {
        listen          80;
        {%- if enable_https %}
        listen          443 ssl;
        server_name    {{ nginx_servername }};
        ssl_certificate        {{ cert }};
        ssl_certificate_key    {{ cert_key }};
        {%- else %}
        server_name     _;
        {%- endif %}

        add_header Access-Control-Allow-Methods *;
        add_header Access-Control-Max-Age 3600;
        add_header Access-Control-Allow-Credentials true;
        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Headers *;

        location / {
                root /opt/openikt-web/dist;
                index index.html index.htm;
                try_files $uri $uri/ @iktrouter;
                access_log /opt/logs/web.log;
        }

        location /v1/ {
            proxy_pass http://openikt-server/;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            add_header Access-Control-Allow-Methods *;
            add_header Access-Control-Max-Age 3600;
            add_header Access-Control-Allow-Credentials true;
            add_header Access-Control-Allow-Origin *;
            add_header Access-Control-Allow-Headers 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization';
            if ($request_method = OPTIONS ) {
                return 200;
            }
        }

        location @iktrouter {
                rewrite ^.*$ /index.html last;
        }
}
