asgiref
certifi
cffi
charset-normalizer
cryptography
Deprecated
Django
djangorestframework
gitdb
GitPython
idna
psycopg2
pycparser
PyGithub
PyJWT
PyNaCl
requests
sh
smmap
sqlparse
typing-extensions
urllib3
wrapt
uwsgi
xlsxwriter
